
{{response}}

<div class="col-md-5 mx-auto">
	<div id="first">
		<div class="myform form ">
            <div *ngIf="view=='signin'; else signup">
               <div class="logo mb-3">
				<div class="col-md-12 text-center">
					<h1>Login</h1>
				</div>
			   </div> 
                <form [formGroup]="loginForm" >
                  <div class="form-group">
                     <label for="login">User Name</label>
                     <input type="email" formControlName="login"  class="form-control"   aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                           <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" formControlName="password" id="password"   class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                           </div>
                           <div class="form-group">
                              <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                           </div>
                           <div class="col-md-12 text-center ">
                              <button type="submit"  [disabled]="loginForm.invalid" class=" btn btn-block mybtn btn-primary tx-tfm"
                                 (click)="onLoginFormSubmit()"
                              >Login</button>
                           </div>
                           <div class="col-md-12 ">
                              <div class="login-or">
                                 <hr class="hr-or">
                                 <span class="span-or">or</span>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <p class="text-center">
                                 <a href="javascript:void();" class="google btn mybtn"><i class="fa fa-google-plus">
                                 </i> Signup using Google
                                 </a>
                              </p>
                           </div>
                           <div class="form-group">
                              <p class="text-center">Don't have account? <a [routerLink]="['/auth/','signup']" id="signup">Sign up here</a></p>
                           </div>
                </form>
			</div>
			<ng-template #signup>
				<div class="logo mb-3">
					<div class="col-md-12 text-center">
						<h1>Sign up</h1>
					</div>
				</div> 

                <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()" name="registration" novalidate="novalidate">
                           <div class="form-group">
                              <label for="username">Login</label>
                              <input type="email"   formControlName="login" class="form-control" id="login"  placeholder="Enter Firstname">
                           </div>
                           <div class="form-group">
                              <label for="nom">Nom</label>
                              <input type="text"   formControlName="nom" class="form-control" id="nom"  placeholder="Enter votre nom">
                           </div>
                           <div class="form-group">
                              <label for="prenom">Prenom</label>
                              <input type="text"  formControlName="prenom" class="form-control" id="prenom"  placeholder="Enter votre prenom">
                           </div>
                           <div class="form-group">
                              <label for="sexe">Sexe</label>
                              <input type="text"   formControlName="sexe" class="form-control" id="sexe"  placeholder="Enter votre sexe">
                           </div>
                           <div class="form-group">
                              <label for="cni">CNI</label>
                              <input type="text"   formControlName="cni" class="form-control" id="cni"  placeholder="Enter votre cni">
                           </div>
               
                           <div class="form-group">
                              <label for="ville">Ville</label>
                              <input type="email"  formControlName="ville" class="form-control" id="ville"  placeholder="Enter votre ville">
                           </div>
                           <div class="form-group">
                              <label for="adresse">Adresse</label>
                              <input type="text"   formControlName="adresse" class="form-control" id="adresse"  placeholder="Enter votre adresse">
                           </div>
                           <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" name="password"  formControlName="password" id="password" class="form-control"  placeholder="Enter Password">
                           </div>
                           <div class="form-group">
                              <label for="confirmPassword1">Validate Password</label>
                              <input type="password" name="confirmPassword"  formControlName="confirmPassword" id="password1" class="form-control"  placeholder="tape pasword again">
                           </div>
                           <div class="col-md-12 text-center mb-3">
                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Register</button>
                           </div>
                           <div class="col-md-12 ">
                              <div class="form-group">
                                 <p class="text-center"><a [routerLink]="['/auth/','signin']" id="signin">Already have an account?</a></p>
                              </div>
                           </div>
                </form>
			</ng-template>
		</div>
</div>


